body{
    font-family: Arial;
    font-size: 12px;
}

.login, #login-form {
    text-align: center;
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:120px;
    display: none;
    align-items: center;
    color: #ccc;
    opacity: 1 !important;
}

.logo{
    top:10px;
    clear: both;
}

.form{
    width: 280px;
    height: 380px;
    margin: auto auto;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    align-items: center;
    background-color: #09364B;/*rgba(0,0,0,0.45), #09364B;*/
}

.form label{
    display: block;
    text-align: center;
    margin: auto auto;
}

.form label input, text{
    padding: 5px;
    margin: 2px;
    width: 185px !important;
}

.logo img{
    margin: 10px;
    margin-top: 20px;
    width: 120px;
    height: 120px;
    clear:both;
}

h2{
    margin: 15px;
}

p{
    -webkit-margin-after: 5px;
}